* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.envelope {
  display: flex;
  width: 100vh;
  height: 100vw;
  background-color: gray;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.triangle {
  height: 300px;
  width: 400px;
  /* background-color: red; */
  border-top: 150px solid transparent;
  border-right: 200px solid rgb(206, 90, 90);
  border-left: 200px solid rgb(195, 61, 61);
  border-bottom: 150px solid rgb(205, 61, 61);
  position: absolute;
  transition: 1s ease-in-out;
  z-index: 1;
}
.triangle2 {
  height: 300px;
  width: 400px;
  border-top: 200px solid rgb(180, 58, 58);
  /* background-color: rgb(180, 58, 58); */
  position: absolute;
  z-index: -2;
  transition: 1s ease-in-out;
}
.letter {
  height: 300px;
  width: 275px;
  background-color: #fff;
  z-index: -3;
  position: absolute;
}
.triangle_top {
  height: 300px;
  width: 400px;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 150px solid rgb(180, 58, 58);
  /* border-top: 150px solid green; */
  position: absolute;
  z-index: -7;
}
.grey {
    width: 400px;
    height: 100px;
    background-color: gray;
    position: absolute;
    bottom: -250px;
    right: -200px;
}
.triangle:hover {
  transform: translateY(-50px);
  transition: 1s ease-in-out 1s;
}
.triangle:hover + .triangle2 {
  transform: translateY(-50px);
  transition: 1s ease-in-out 1s;
  z-index: -4;
}
.triangle:hover ~ .letter {
  transform: translateY(-150px);
  transition: 1s ease-in-out 2.3s;
  z-index: -4;
}
.triangle:hover ~ .triangle_top {
    transform: rotateX(180deg) translateY(+350px);
    transition: 1s ease 1.0s;
    z-index: -5;
  }
